/* Fundir essas css depois em um documento de css dos educados */

.card-servicos-add-auluno {
    padding-bottom: 5px;
}
.card-servicos-add-auluno p {
    text-align: center;
}

.box-skills:hover {
    box-shadow: 1px 1px 10px var(--color-destaque2);
}